<div class="btnWhichUserGuide">
    <mat-list class="tools-buttons">
        <mat-button-toggle-group>
            <mat-button-toggle (click)="diversListSelection()"> Divers </mat-button-toggle>
            <mat-button-toggle (click)="drawListSelection()"> Dessiner </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-list>
</div>
<div *ngFor="let tool of dataGuides">
    <div *ngIf="testDataGuide(tool.isTool)">
        <h1>{{ tool.title }}</h1>
        <p class="descriptionTool">
            {{ tool.description }}
        </p>
        <img *ngIf="testSelection()" class="pictureSize" src="{{ tool. gifPath }}" />
        <img class="pictureSize" src="{{ tool.screenshotPath }}" />
    </div>
</div>
<button mat-raised-button mat-dialog-close>Close</button>
