<div>
    <button mat-raised-button (click)="reset()">réinitialise tout</button>
    <div *ngIf="!getPicturesAll().length"><p>Aucune image trouver changée le critère de recherche ou réinitialise</p></div>
</div>
<div *ngIf="getPicturesAll().length">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let pictureCarte of getPictures()">
            <mat-card class="card-picture">
                <mat-card-header>
                    <mat-card-title>{{ pictureCarte.name }}</mat-card-title>
                    <mat-card-subtitle>
                        <!--  {{ pictureCarte.date.getDay() }}/{{ pictureCarte.date.getMonth() }}/{{ pictureCarte.date.getFullYear() }} -
                {{ pictureCarte.date.getHours() }}h{{ pictureCarte.date.getMinutes() }}-->{{ pictureCarte.date }}
                    </mat-card-subtitle>
                </mat-card-header>
                <canvas id="{{ pictureCarte.id }}"></canvas>
                <mat-card-content>
                    <div *ngFor="let element of pictureCarte.labels"># {{ element.label }}</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Charger</button>
                    <button mat-button (click)="deletePicture(pictureCarte.id)">Supprimer</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button class="sub-button-cart" (click)="prior()">antérieur</button>
    <button mat-raised-button class="sub-button-cart" (click)="next()">suivant</button>
</div>
<div>
    <h2>recherche</h2>
    <mat-form-field>
        <mat-label>critère de recherche</mat-label>

        <mat-select matNativeControl required [(ngModel)]="selectedType" [(value)]="selectedType">
            <mat-option value="name">Nom</mat-option>
            <mat-option value="date">Date</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'name'">
        <mat-label>Entrer le nom de l'image qui commence par :</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'date'">
        <mat-label>Entrer la date :</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="myDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="setSearchCriteria()">Soumettre</button>
</div>
<div>
    <h1>liste d'étiquettes</h1>
    <p *ngIf="!dataLabel.length">appuyer sur le button "rafraichir la liste" étiquettes</p>
    <button mat-raised-button (click)="refresh()">rafraichir la liste</button>
    <div>
        <mat-button-toggle
            *ngFor="let element of dataLabel"
            class="sub-button"
            mat-button
            color="primary"
            id="{{ element.label }}"
            (click)="selectionLabel(element.label)"
            >{{ element.label }}</mat-button-toggle
        >
    </div>
</div>
