<div class="container">
    <app-sidebar></app-sidebar>
    <div class="drawing-container">
        <app-drawing class="drawing" tabindex="0"></app-drawing>
    </div>

    <!--<igx-dialog #dialog title="Confirmation"
    leftButtonLabel="Cancel"
    (onLeftButtonSelect)="dialog.close()"
    rightButtonLabel="OK"
    (onRightButtonSelect)="onDialogOKSelected($event)"
    message="Are you sure you want to delete the Annual_Report_2016.pdf and Annual_Report_2017.pdf files?">
    </igx-dialog>-->

</div>
