<p>selection-picture works!</p>
<button mat-raised-button (click)="resete()">réinitialise tous</button>
<div *ngFor="let picture of getPicturesTestAll()">
    <div>
        {{ picture.name }}
        <div *ngFor="let indix of picture.labels">
            {{ indix.label }}
        </div>
        <img />
    </div>
</div>
<div>
    <h1>list d'étiquettes</h1>
    <p *ngIf="!dataLabel.length">appuié sur le button "rafraichire la lislte" étiquettes</p>
    <button mat-raised-button (click)="refresh()">rafraichir la lislte</button>
    <div>
        <mat-button-toggle
            *ngFor="let element of dataLabel"
            class="sub-button"
            mat-button
            color="primary"
            id="{{ element.label }}"
            (click)="selectionLabel(element.label)"
            >{{ element.label }}</mat-button-toggle
        >
    </div>
</div>
