<p>selection-picture works!</p>
<button mat-raised-button (click)="resete()">réinitialise tous</button>
<div *ngFor="let picture of getPicturesTestAll()">
    <div>
        {{ picture.name }}
        <div *ngFor="let indix of picture.labels">
            {{ indix.label }}
        </div>
        <img />
    </div>
</div>
<div>
    <mat-form-field>
        <mat-label>critère de recherche</mat-label>

        <mat-select matNativeControl required [(ngModel)]="selectedType" [(value)]="selectedType">
            <mat-option value="name">Nom</mat-option>
            <mat-option value="date">Date</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'name'">
        <mat-label>Entré le nom de image qui commence par :</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'date'">
        <mat-label>Entré le date :</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="myDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="setSearchCriteria()">Soumettre</button>
</div>
<div>
    <h1>list d'étiquettes</h1>
    <p *ngIf="!dataLabel.length">appuié sur le button "rafraichire la lislte" étiquettes</p>
    <button mat-raised-button (click)="refresh()">rafraichir la lislte</button>
    <div>
        <mat-button-toggle
            *ngFor="let element of dataLabel"
            class="sub-button"
            mat-button
            color="primary"
            id="{{ element.label }}"
            (click)="selectionLabel(element.label)"
            >{{ element.label }}</mat-button-toggle
        >
    </div>
</div>
