<p>selection-picture works!</p>
<button mat-raised-button (click)="reset()">réinitialise tout</button>
<div *ngFor="let picture of getPicturesAll()">
    <div>
        {{ picture.name }}
        <div *ngFor="let indix of picture.labels">
            {{ indix.label }}
        </div>
        <img />
    </div>
</div>
<div *ngIf="!getPicturesAll().length"><p>Aucune image trouver changée le critère de recherche ou réinitialise</p></div>
<div>
    <mat-form-field>
        <mat-label>critère de recherche</mat-label>

        <mat-select matNativeControl required [(ngModel)]="selectedType" [(value)]="selectedType">
            <mat-option value="name">Nom</mat-option>
            <mat-option value="date">Date</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'name'">
        <mat-label>Entrer le nom de l'image qui commence par :</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'date'">
        <mat-label>Entrer la date :</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="myDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="setSearchCriteria()">Soumettre</button>
</div>
<div>
    <h1>liste d'étiquettes</h1>
    <p *ngIf="!dataLabel.length">appuyer sur le button "rafraichir la liste" étiquettes</p>
    <button mat-raised-button (click)="refresh()">rafraichir la liste</button>
    <div>
        <mat-button-toggle
            *ngFor="let element of dataLabel"
            class="sub-button"
            mat-button
            color="primary"
            id="{{ element.label }}"
            (click)="selectionLabel(element.label)"
            >{{ element.label }}
        </mat-button-toggle>
    </div>
</div>
