<mat-dialog-content>
    <p>Sauvegarde du dessin localement.</p>
    <mat-button-toggle-group name="imageType">
        <mat-button-toggle (click)="checkJPG()">JPG</mat-button-toggle>
        <mat-button-toggle (click)="checkPNG()">PNG</mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    <mat-button-toggle-group name="filterType">
        <mat-button-toggle (click)="checkFirst()">Filtre un</mat-button-toggle>
        <mat-button-toggle (click)="checkSecond()">Filtre deux</mat-button-toggle>
        <mat-button-toggle (click)="checkThird()">Filtre trois</mat-button-toggle>
        <mat-button-toggle (click)="checkFourth()">Filtre quatre</mat-button-toggle>
        <mat-button-toggle (click)="checkFifth()">Filtre cinq</mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    <img #previewImage />
    <br />
    <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile colspan="1">
            <mat-form-field class="name-form-field">
                <mat-label>Nom de fichier</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="fichier image" />
                <mat-hint>Ex. nomDeFichierImage</mat-hint>
                <mat-error *ngIf="nameFormControl.hasError('required')">Le nom de fichier doit être entre 1 et 255 caractères.</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-raised-button (click)="downloadImage()">Télécharger l'image</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
