<p>save-dialog works!</p>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-label>
            Consigne pour le nom :<br />espace ne doit pas être vide<br />
            Les caractère non autoriser sont : / ! " ' % ? & * # |
        </mat-label>
        <mat-form-field appearance="legacy">
            <mat-label>Nom de image</mat-label>
            <input matInput [(ngModel)]="textName" />
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-label>
            consigne pour creer une étiquette <br />Chaque nouvelle étiquette doive être séparé par un espace. Un minimome de caractère 6 et le max
            est de 20<br />
            Les caractère non autoriser sont : / ! " ' % ? & * # |
        </mat-label>
        <mat-form-field appearance="legacy">
            <mat-label>créer des étiquettes</mat-label>
            <textarea matInput [(ngModel)]="textLabel"></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button (click)="saveServer()">Sauvegarder sur le serveur</button>
    </mat-grid-tile>
</mat-grid-list>
<div>
    <h1>liste d'étiquettes existent</h1>
    <p *ngIf="!dataLabel.length">appuyer sur le button "rafraichir la liste" étiquettes</p>
    <button mat-raised-button (click)="refresh()">rafraichir la liste</button>
    <div>
        <mat-button-toggle
            *ngFor="let element of dataLabel"
            class="sub-button"
            mat-button
            color="primary"
            id="{{ element.label }}"
            (click)="selectionLabel(element.label)"
            >{{ element.label }}
        </mat-button-toggle>
    </div>
</div>
