<p>save-dialog works!</p>
<div class="example-container">
    <mat-form-field appearance="legacy">
        <mat-label>Nom de image</mat-label>
        <input matInput [(ngModel)]="textName" />
    </mat-form-field>
    <br />
    <h6>consigne pour creer une étiquette</h6>
    <mat-form-field appearance="legacy">
        <mat-label>créer des étiquettes</mat-label>
        <textarea matInput [(ngModel)]="textLabel"></textarea>
    </mat-form-field>
    <button mat-raised-button (click)="saveServer()" [disabled]="verifierName(textName) || verifierLabel(textLabel)">
        Sauvegarder sur le serveur
    </button>
</div>
<div>
    <h1>liste d'étiquettes existent</h1>
    <p *ngIf="!dataLabel.length">appuyer sur le button "rafraichir la liste" étiquettes</p>
    <button mat-raised-button (click)="refresh()">rafraichir la liste</button>
    <div>
        <mat-button-toggle
            *ngFor="let element of dataLabel"
            class="sub-button"
            mat-button
            color="primary"
            id="{{ element.label }}"
            (click)="selectionLabel(element.label)"
            >{{ element.label }}
        </mat-button-toggle>
    </div>
</div>
