<div id="canvas-container" [ngStyle]="{ 'min-width.px': workWidth, 'min-height.px': workHeight }">
    <canvas
        id="previewLayer"
        #previewCanvas
        [attr.width]="width"
        [attr.height]="height"
        [ngStyle]="{ cursor: cursorUsed }"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
        (mouseout)="onMouseOut($event)"
        (mouseenter)="onMouseEnter($event)"
    ></canvas>
    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height" [ngStyle]="{ cursor: cursorUsed }"></canvas>
    <canvas
        id="canvasResizerPreview"
        #canvasResizingPreview
        [attr.width]="canvasResizerService.resizeWidth"
        [attr.height]="canvasResizerService.resizeHeight"
        [ngStyle]="{
            'width.px': canvasPreviewWidth,
            'height.px': canvasPreviewHeight,
            'z-index': canvasResizerService.resizerIndex,
            cursor: canvasResizerService.resizeCursor
        }"
        (mousedown)="onResizeDown($event)"
        (mousemove)="onResizeMove($event)"
        (mouseup)="onResizeUp($event)"
        (mouseout)="onResizeOut($event)"
    ></canvas>
</div>
