<div id="canvas-container" [ngStyle]="{ 'min-width.px': cvsResizerService.resizeWidth, 'min-height.px': cvsResizerService.resizeHeight }">
    <canvas
        id="previewLayer"
        #previewCanvas
        [attr.width]="width"
        [attr.height]="height"
        [ngStyle]="{ cursor: cursorUsed }"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event); onMouseOverMainCanvas($event)"
        (mouseup)="onMouseUp($event)"
        (mouseout)="onMouseOut($event)"
        (mouseenter)="onMouseEnter($event)"
    ></canvas>
    <canvas id="baseCanvas" #baseCanvas [attr.width]="width" [attr.height]="height" [ngStyle]="{ cursor: cursorUsed }"></canvas>
    <div id="whiteBackground" [ngStyle]="{ 'width.px': width, 'height.px': height }"></div>
    <canvas
        id="canvasResizerPreview"
        #canvasResizingPreview
        [attr.width]="cvsResizerService.resizeWidth"
        [attr.height]="cvsResizerService.resizeHeight"
        [ngStyle]="{
            'z-index': cvsResizerService.resizerIndex,
            cursor: cvsResizerService.resizeCursor
        }"
        (mousedown)="onResizeDown($event)"
        (mousemove)="onResizeMove($event)"
        (mouseup)="onResizeUp($event)"
        (mouseout)="onResizeOut($event)"
    ></canvas>
    <canvas
        id="dropperLayer"
        #dropperLayer
        width="40px"
        height="40px"
        [style.display]="toolService.currentToolName == dropper ? 'inline-block' : 'none'"
    ></canvas>
    <canvas id="gridLayer" #gridLayer [attr.width]="width" [attr.height]="height" [ngStyle]="{ cursor: cursorUsed }"> </canvas>
    <div id="greyBackground" [ngStyle]="{ 'width.px': cvsResizerService.resizeWidth, 'height.px': cvsResizerService.resizeHeight }"></div>
</div>
