canvas {
    cursor: crosshair;
    position: absolute;
    left: 1px;
    top: 1px;
    box-shadow: 0 1px 5px -3px black;
}

#canvas{
    z-index: 0;
}

#drawCanvas{
    z-index: 1;
}

#canvas-container{
    position: relative;
}