<mat-dialog-content>
    <p>{{ message }}</p>

    <mat-grid-list cols="12">
        <mat-grid-tile colspan="6" rowspan="2">
            <mat-form-field>
                <mat-label>Largeur</mat-label>
                <input
                    matInput
                    required
                    type="number"
                    placeholder="Ex: 250"
                    [formControl]="widthControl"
                    [min]="MIN_CANVAS_SIZE"
                    [max]="MAX_WIDTH_SIZE"
                />
                <span matSuffix>px</span>
                <mat-error *ngIf="widthControl.invalid">Minimum de 250 px</mat-error>
                <mat-error *ngIf="widthControl.invalid">Maximum de 1980 px</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="2">
            <mat-form-field>
                <mat-label>Hauteur</mat-label>
                <input
                    matInput
                    required
                    type="number"
                    placeholder="Ex: 250"
                    [formControl]="heightControl"
                    [min]="MIN_CANVAS_SIZE"
                    [max]="MAX_HEIGHT_SIZE"
                />
                <span matSuffix>px</span>
                <mat-error *ngIf="widthControl.invalid">Minimale de 250 px</mat-error>
                <mat-error *ngIf="widthControl.invalid">Maximum de 1080 px</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="8"> </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Oui</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button mat-dialog-close tabindex="-1">Non</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
