<mat-dialog-content>
    <p>{{ message }}</p>

    <mat-grid-list cols="12">
        <mat-grid-tile colspan="6" rowspan="2">
            <mat-slider> [max]="1920" [min]="250" [step]="1" [thumbLabel]="true" [(ngModel)]="x_axis" [vertical]="vertical"> </mat-slider>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="2">
            <mat-form-field>
                <mat-label>Hauteur</mat-label>
                <input matInput type="number" placeholder="Ex: 300" min="250" />
                <span matSuffix>px</span>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="2">
            <mat-slider> [max]="1920" [min]="250" [step]="1" [thumbLabel]="true" [(ngModel)]="x_axis" [vertical]="vertical"> </mat-slider>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="2">
            <mat-form-field>
                <mat-label>Hauteur</mat-label>
                <input matInput type="number" placeholder="Ex: 300" min="250" />
                <span matSuffix>px</span>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="8"> </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Oui</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button mat-dialog-close tabindex="-1">Non</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
