.color-container {
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

#previewSquare {
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    z-index: 1;
    width: 220px;
    height: 220px;
}

#squarePalette {
    margin-top: 13px;
    margin-left: 13px;
    z-index: 0;
    width: 200px;
    height: 200px;
}

#previewHorizontal {
    margin-left: 13px;
    top: 233px;
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 50px;
}

#horizontalPalette {
    margin-left: 13px;
    z-index: 1;
    width: 200px;
    height: 50px;
}
