.color-container {
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-left: 13px;
    width: 90%;
}

mat-divider {
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

#previewColor {
    width: 40px;
    height: 40px;
}

#previewSquare {
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    z-index: 1;
}

#squarePalette {
    margin-top: 13px;
    margin-left: 13px;
    z-index: 0;
}

#previewHorizontal {
    margin-left: 13px;
    top: 320px;
    position: absolute;
    z-index: 1;
}

#horizontalPalette {
    margin-left: 13px;
    z-index: 0;
}
