.color-container {
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-left: 13px;
    width: 90%;
}

mat-divider {
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

#previewColor {
    width: 40px;
    height: 40px;
    margin-left: 85px;
    padding-left: 4px;
}

#previewColorHexa {
    margin-left: 50px;
    //margin-bottom:-20px;
}

.colors div {
    float: left;
    clear: none;
    margin-right: 40px;
    width: 68px;
}

#primaryColorTitle {
    padding-left: 15px;
}

#primaryColor {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#primaryColorHexa {
    padding-left: 60px;
}

#secondaryColorTitle {
    padding-left: 20px;
}

#secondaryColor {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#secondaryColorHexa {
    padding-left: 65px;
}

#previewSquare {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

#squarePalette {
    margin-top: 10px;
    margin-left: 10px;
    z-index: 0;
}

#previewHorizontal {
    margin-left: 13px;
    top: 220px;
    position: absolute;
    z-index: 1;
}

#horizontalPalette {
    margin-left: 13px;
    top: 220px;
    position: absolute;
    z-index: 0;
}
