.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.main-menu-button {
    text-align: left;
    width: 100%;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.header-item {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}
<<<<<<< HEAD

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
=======
>>>>>>> dev
