<button mat-button [matMenuTriggerFor]="menuBrush"><mat-icon>brush</mat-icon></button>
<mat-menu #menuBrush="matMenu">
    <button mat-raised-button (click)="naturalBrushTool()">pinceau 1</button>
    <button mat-raised-button>pinceau 2</button>
    <button mat-raised-button>pinceau 3</button>
    <button mat-raised-button>pinceau 4</button>
    <button mat-raised-button>pinceau 5</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuSize">Menu taille</button>
<mat-menu #menuSize="matMenu">
    <button mat-menu-item (click)="sizeSmall()">taille 1</button>
    <button mat-menu-item (click)="sizeMedium()">taille 2</button>
    <button mat-menu-item (click)="sizeBig()">taille 3</button>
</mat-menu>
