.toolbar {
    position: relative;
    top: 0;
    height: 100%;
    text-align: center;
    float: left;
}

.small-buttons {
    width: 50px;
}

.attributes {
    position: relative;
    top: 0;
    margin: 0px;
    width: 226px;
    float: right;
}

mat-slider {
    width: 90%;
}

.tools-buttons {
    position: relative;
    height: auto;
    margin-top: -7px;
}

.miscellaneous-buttons {
    position: absolute;
    bottom: 0;
}
