<div class="toolbar">
    <div class="small-buttons">
        <mat-list class="tools-buttons">
            <mat-button-toggle-group vertical="true">
                <mat-button-toggle (click)="pickPencil()">
                    <mat-icon>edit</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="pickEraser()">
                    <mat-icon svgIcon="eraser"></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="pickBrush()">
                    <mat-icon>brush</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="pickLine()">
                    <mat-icon>horizontal_rule</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="pickRectangle()">
                    <mat-icon>crop_16_9</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="pickEllipse()">
                    <mat-icon>panorama_fish_eye</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="pickColor()">
                    <mat-icon>color_lens</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-list>
        <mat-list class="miscellaneous-buttons">
            <mat-button-toggle-group vertical="true">
                <mat-button-toggle appearance="radio" (click)="createNewDrawing()">
                    <mat-icon>add</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle>
                    <mat-icon>article</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-list>
    </div>
</div>
<div class="toolbar" *ngIf="showAttributes">
    <div class="attributes" [ngSwitch]="whichTools">
        <mat-grid-list cols="6" *ngSwitchCase="0">
            <mat-grid-tile colspan="6"> This is the settings to decrease or increase the size of a button</mat-grid-tile>
            <mat-grid-tile colspan="6" rowspan="4">This is a great software for everyone. Let's keep doing UI with this tooling.</mat-grid-tile>
            <mat-grid-tile colspan="6">
                <mat-slider tickInterval="1000" min="1" max="100000"></mat-slider>
            </mat-grid-tile>
            <mat-grid-tile colspan="6">
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="1">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="2">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="3">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="4">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="5">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="6">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" *ngSwitchCase="7">
            <mat-grid-tile colspan="6"></mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
