<mat-form-field appearance="outline">
    <mat-label>Nombre d'émission</mat-label>
    <input matInput placeholder="1-100" max="100" maxlength="3" #inputEmission type="number" />
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Diamètre du jet</mat-label>
    <input matInput placeholder="0-255" maxValue="255" maxlength="3" #inputZoneDiameter type="number" />
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Diamètre des gouttelettes</mat-label>
    <input matInput placeholder="0-255" maxValue="255" maxlength="3" #inputDropDiameter type="number" />
</mat-form-field>
<button
    mat-button
    class="numDropButton"
    (click)="
        sendInput({
            nbEmission: inputEmission.valueAsNumber,
            zoneDiameter: inputZoneDiameter.valueAsNumber,
            dropDiameter: inputDropDiameter.valueAsNumber
        })
    "
>
    appliquer
</button>
